
#####################################
##               Import            ##
#####################################
import("raster")
import("methods")
importFrom("parallel", "makeCluster", "stopCluster")
importFrom("stats", "cov", "median", "window", "xtabs", "approxfun", "integrate", "sd", "dist")
importFrom("utils", "combn", "setTxtProgressBar", "txtProgressBar","globalVariables", "type.convert")
importFrom("foreach", "%dopar%", "foreach" , "%do%")
import("svMisc", "progress")
importFrom("progress", "progress_bar")
importFrom("terra", "split", "crop", "as.polygons")

#####################################
##               Export            ##
#####################################
export(Hill, HillS, HillP)
export(Rao)
export(paRao, paRaoS, paRaoP, mpaRaoS, mpaRaoP, RaoAUC, paRaoAreaS, mpaRaoAreaS)
export(.meuclidean, .mmanhattan, .mcanberra, .mminkowski, .mmahalanobis)
export(CRE, .CRE_, .Prob, .Deltas, .CumRes, .Reorder, .Cumsum, .Rev)
export(Renyi, RenyiS, RenyiP)
export(Shannon, ShannonS, ShannonP)
export(Pielou, PielouS, PielouP)
export(BergerParker, BergerParkerS, BergerParkerP)
